<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表页</title>
</head>
<body>

<a href="/add_user/">添加用户</a>

<table border="1">
    <thead>
    <tr>
        <th>id值</th>
        <th>用户名</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    {% for user in user_list %}
        <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>
            <a href="/del_user/?id={{ user.id }}">删除</a>
            <a href="/edi_user/?id={{ user.id }}">编辑</a>
        </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>